body {
      background-image: url("https://www.barraques.cat/pngfile/big/73-734509_download-hd-brown-dark-wood-texture-scratches-wallpaper.jpg");
       background-repeat:no-repeat;
       background-size:cover;
}
