body {
      background-image: url("https://www.desktopbackground.org/p/2013/04/06/556446_download-blue-cubes-wallpapers-for-iphone-4_640x960_h.jpg");
}

h1 {
      color: purple;
      text-align: center;
}

 #practice {
 	color: white;
     font-size: 3em;
     text-decoration: none;
  }



  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}